root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{diff,md}]
trim_trailing_whitespace = false

[*.php]
indent_style = space
indent_size = 4

[*.{js,json,html,twig}]
indent_style = space
indent_size = 4
